.icons{
    padding-top: 150px;
    color: white;
    display:flex;
    justify-content: center;
    cursor: pointer;
}

.facebook{
    padding-left: 50px;
    padding-right: 25px;
    transform: scale(1.1);
}


.instagram{
    padding-right: 25px;
    transform: scale(1.3);
}


.twitter{
    padding-right: 25px;
    transform: scale(1.3);
}

.youtube{
    transform: scale(1.4);
}

.copyright{
    color:grey;
    font-size: small;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;

}